<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<head th:replace="fragments/nav"/>

<div class="container" id="main-container">
    <h2 th:text="#{offer.add.title}">Agregar oferta</h2>
    <form class="form-horizontal" method="post" action="/offer/add" th:object="${offer}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title" th:text="#{offer.add.form.title}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title"
                       th:placeholder="#{offer.add.form.title.example}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description" th:text="#{offer.add.form.description}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description"
                           th:placeholder="#{offer.add.form.description.example}" required="true"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="details" th:text="#{offer.add.form.details}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="details" name="details"
                           th:placeholder="#{offer.add.form.details.example}" required="true"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('details')}"
                          th:errors="*{details}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="price" th:text="#{offer.add.form.price}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="price" name="price"
                           th:placeholder="#{offer.add.form.price.example}" required="true"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('price')}"
                          th:errors="*{price}"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="image" th:text="#{offer.add.form.image}+ ':'"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="image" name="image"
                           th:placeholder="#{offer.add.form.image.example}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="destacado" th:text="#{offer.add.form.destacado}"></label>
                <div class="col-sm-10">
                    <input type="checkbox" id="destacado" name="destacado">
                    <span class="text-danger" th:if="${#fields.hasErrors('destacado')}"
                          th:errors="*{destacado}"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{offer.add.form.send}"></button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>