<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<head th:replace="fragments/nav"/>

<div class="container" id="main-container">
    <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $( "#updateButton" ).click(function() {
            let numberPage = [[${param.page}]];
            let urlUpdate = '/offer/list/update';
            if (numberPage != null ){
                urlUpdate += "?page="+numberPage[0];
            }
            $("#tableOffers").load(urlUpdate);
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table class="table table-hover">
            <table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer : ${offerList}">
                    <td scope="row" th:text="${offer.id}"> 1</td>
                    <td th:text="${offer.title}"> Título oferta 1</td>
                    <td th:text="${offer.description}"> Descripción oferta 1</td>
                    <td th:text="${#strings.concat(offer.price,'€')}">Precio</td>
                    <td><a th:href="${'/offer/delete/' + offer.id}">eliminar</a>
                </tr>
                </tbody>
            </table>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(offerList)}"> No offers</div>
</div>
</div>

</body>
</html>