<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<head th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{offer.list.title}"></h2>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableOffers" id="tableOffers">
            <thead>
            <tr>
                <th scope="col" th:text="#{offer.list.data.image}"></th>
                <th scope="col" th:text="#{offer.list.data.title}"></th>
                <th scope="col" th:text="#{offer.list.data.description}"></th>
                <th scope="col" th:text="#{offer.list.data.details}"></th>
                <th scope="col" th:text="#{offer.list.data.price}"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="filas-list-offers" th:each="offer : ${offerList}">
                <td>
                    <img th:if="${offer.image != null and offer.image != ''}" th:src="${offer.image}"
                         width="56" height="56" style="object-fit: cover;">
                    <img th:unless="${offer.image != null and offer.image != ''}" src="/images/example.png"
                         width="56" height="56"/>
                </td>
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.details}"></td>
                <td th:text="${#strings.concat(offer.price,'€')}"></td>
                <td><a th:href="${'/offer/delete/' + offer.id}" th:text="#{offer.list.delete}"></a></td>
                <td><a th:href="${'/offer/toHighlight/' + offer.id}" th:text="#{offer.list.toHighlight}"></a></td>
            </tr>
            </tbody>
            <div th:each="error : ${errorsH}">
                <span class="text-danger" th:if="${error.equals('Error.offer.destacado.money')}"
                      th:text="#{Error.offer.destacado.money}"></span>
                <span class="text-danger" th:if="${error.equals('Error.offer.isHighlight')}"
                      th:text="#{Error.offer.isHighlight}"></span>
                <span class="text-danger" th:if="${error.equals('Error.offer.user.highlight')}"
                      th:text="#{Error.offer.user.highlight}"></span>
            </div>
        </table>
        <div th:if="${#lists.isEmpty(offerList)}" th:text="#{offer.list.msg.offers}"></div>
    </div>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>